@keyframes animation{
    0% {top: 2px;}
    10%{top:10px;}
}
.img-relative:hover{
    .comp-absl{
        img{
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}
.cloud{
    img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}
.circle-relt{
    img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}
.brand-cont{
    a:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}