@import'./../moduls/clases.scss';

@media(max-width:700px){
    .head-main-cont{
        justify-content: space-between !important;
    }  .navbar{
        display: none;
    }
    .button{
        display: none;
    }
    .burger{
        img{
            display: block !important;
        }
    }
    .parenttt{
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:700px){
    .feautres2{
        flex-wrap: wrap;
    }
    .feautres2-title{
        margin-bottom: 20px;
    }
    .home-cont{
        flex-direction: column-reverse;
        align-items: center;
    }
    .containerr{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}
@media screen and (max-width:700px){
    .guide-cont{
        max-width: 550px ;
    }
}
@media screen and (max-width:980px){
    .grid-title h2{
        font-size: 3rem !important;
    }
    .grid4 img{
        width: 85% !important;
        margin-left: 40px;
    }
}
@media screen and (max-width:833px){
    .grid-title h2{
        font-size:2rem !important;
    }
}
@media screen and (max-width:700px){
    .gridd{
        justify-content: center !important;
        flex-wrap: wrap;
        align-items: center !important;
    }
    .grid-title h2{
        font-size: 4rem !important;
    }
    .experience{
        grid-auto-flow: inherit !important;
    }
    .feautres{
        justify-content: center !important;
        flex-wrap: wrap;
        .feautres-title{
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    .video-reel{
        justify-content: center !important;
        flex-wrap: wrap;
        .video-title{
            margin-top: 40px;
        }
    }
    .readme-title{
        justify-content: center !important;
        flex-wrap: wrap;
    }
    .agency-help{
        flex-wrap: wrap;
    }
}

// complications
@media(max-width:1000px){
    .service-box{
        h2{
            font-size: 3rem !important;
        }
    }
}
@media(max-width:935px){
    .grid-content{
        height: 630px !important;
    }
}
@media(max-width:830px){
    .grid-content{
        height: 567px !important;
}
}
@media(max-width:700px){
    .grid-content{
        height: 660px !important;
    }
}
@media(max-width:550px){
    .grid-content{
        height: 560px !important;
    }
    .portfolio-box{
        h2{
            a{
                font-size: 2rem !important;
            }
        }
    }
    .container{
        height: 940px !important;
        flex-direction: column-reverse !important;
        .women-absolute{
            position: static !important;
        }
        .inner{
            flex-direction: column !important;
        }
    }
}
@media(max-width:450px){
    .grid-content{
        height: 460px !important;
    }
}
