body{
    margin: 0 auto;
}
.home-section{
    @include mx-width(1280px,100%,);
    background-color:#28293E;
    padding: 20px;

.head-main-cont{
    @include flex-content(flex,space-around,center);
    .logo{
        @include display(flex,center);
    }
    h3{
        font-size: 24px;
        color:#FFFFFF;
        text-transform: capitalize;
    }
    .navbar{
        width: 500px;
        nav{
            ul{
                display: flex;
                justify-content: space-between;
                a{
                   @include fsize-color(16px,white);
                   text-transform:capitalize;
                   padding-left: 20px;
                }
            }
        }
    }
    .button{
        button{
            @include button(170px,48px,white,none,5px,revert);
            .burger{
                img{
                    display: none;
                }
            }
        }
    }
}
}
    .home-cont{
        display: flex;
        justify-content: space-around;
        position: relative;
    .guide-cont{
        @include mx-width(430px,100%);
        padding: 20px 0 0;
        h3{
            @include fsize-color(1rem,#EF6D58);
            text-transform: uppercase;   
            letter-spacing: 2px;
        }
        .relative-title{
            position: relative;
            margin: 1rem 0 0;
            z-index: 1;
            h1{
                @include fsize-color(4rem,$colowhite);
        }
        .absolute-star{
            position: absolute;
            top: -20px;
            right: 20px;
            z-index: -1;
        }
    }
    p{
        @extend %opacity-p;
        padding: 1rem 0 0;
    }
    .home-button-box{
        display: flex;
        padding: 3rem 0 0;
        .home-button1{
            @include button(154px,48px,white,#EF6D58,5px,none);
            margin-right: 25px;
            text-transform: uppercase
        }
        .home-button2{
            @include button(154px,48px,white,none,none,none);
            text-transform: capitalize;
        }
    }
}
         .home-part2{
            max-width: 570px;
            display: grid;
            grid-auto-flow: column;
            margin:20px 0 0;
            .img-relative{
                max-width: 246px;
                position: relative;
                img{
                    width: 100%;
                }
                .comp-absl{
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    img{
                        width: 100%;
                    }
                }
                .combined-shape{
                    max-width: 100px;
                    margin:20px 0 20px 0;
                    img{
                        width: 100%;
                    }
                }
            }
            .anim{
                img{
                    width: 100%;
                }
                .oval-cloud{
                    display: flex;
                    margin-bottom: 50px;
                    .oval-relt{
                        max-width: 112px;
                        position: relative;
                        margin-left: 20px;
                        img{
                            width: 100%;
                        }
                        .stars-absl{
                            position: absolute;
                            top: 30px;
                            left: 30px;
                            animation-name: animation;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                            animation-duration: 2s;
                            animation-direction: alternate;
                        
                        }
                    }
                    .cloud{
                        margin-left: 20px;
                    }
                }
                .girl-relt{
                    position: relative;
                    margin: 0 0 0 50px ;
                }
                .girl-abslt{
                    position: absolute;
                    top: 1px;
                }
            }
         }
}
.part2{
    background-color:$bg-part2;
.brand-cont{
    @include mx-width(1170px,100%);
    @include flex-content(flex,space-around,center);
    flex-wrap: wrap;
    margin: 0 auto;
    height: 192px;
    border-bottom: solid #F3D1BF;
    }
}
.relative-part2{
    @include mx-wd-ht(566px,100%,585px);
    position: relative;
    
}