body{
    margin: 0 auto;
}
.home-section{
    @include mx-width(1280px,100%,);
    background-color:#28293E;
    padding: 20px;

.head-main-cont{
    @include flex-content(flex,space-around,center);
    .logo{
        @include display(flex,center);
    }
    h3{
        font-size: 24px;
        color:#FFFFFF;
        text-transform: capitalize;
    }
    .navbar{
        width: 500px;
        nav{
            ul{
                display: flex;
                justify-content: space-between;
                a{
                   @include fsize-color(16px,white);
                   text-transform:capitalize;
                   padding-left: 20px;
                }
            }
        }
    }
    .button{
        button{
            @include button(170px,48px,white,none,5px,revert);
        }
    }
    .burger{
        img{
            display: none;
        }
    }
}
}
    .home-cont{
        display: flex;
        justify-content: space-around;
        position: relative;
    .guide-cont{
        @include mx-width(430px,100%);
        padding: 20px 0 0;
        h3{
            @extend %h3
        }
        .relative-title{
            position: relative;
            margin: 1rem 0 0;
            z-index: 1;
            h1{
                @include fsize-color(4rem,$colowhite);
                text-transform: capitalize;
        }
        .absolute-star{
            position: absolute;
            top: -20px;
            right: 20px;
            z-index: -1;
        }
    }
    p{
        @extend %opacity-p;
        padding: 1rem 0 0;
    }
    .home-button-box{
        display: flex;
        padding: 3rem 0 0;
        .home-button1{
            @include button(154px,48px,white,#EF6D58,5px,none);
            margin-right: 25px;
            text-transform: uppercase;
        }
        .home-button2{
            @include button(154px,48px,white,none,none,none);
            text-transform: capitalize;
        }
    }
}
         .home-part2{
            max-width: 570px;
            display: grid;
            grid-auto-flow: column;
            margin:20px 0 0;
            .img-relative{
                max-width: 246px;
                position: relative;
                img{
                    width: 100%;
                }
                .comp-absl{
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    img{
                        width: 100%;
                    }
                }
                .combined-shape{
                    max-width: 100px;
                    margin:20px 0 20px 0;
                    img{
                        width: 100%;
                    }
                }
            }
            .anim{
                img{
                    width: 100%;
                }
                .oval-cloud{
                    display: flex;
                    margin-bottom: 50px;
                    .oval-relt{
                        max-width: 112px;
                        position: relative;
                        margin-left: 20px;
                        img{
                            width: 100%;
                        }
                        .stars-absl{
                            position: absolute;
                            top: 30px;
                            left: 30px;
                            animation-name: animation;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                            animation-duration: 2s;
                            animation-direction: alternate;
                        
                        }
                    }
                    .cloud{
                        margin-left: 20px;
                    }
                }
                .girl-relt{
                    position: relative;
                    margin: 0 0 0 50px ;
                }
                .girl-abslt{
                    position: absolute;
                    top: 1px;
                }
            }
         }
}
.part2{
    background-color:$bg-part2;
    max-width: 1280px;
    width: 100%;
    padding: 20px;
.brand-cont{
    @include mx-width(1170px,100%);
    @include flex-content(flex,space-around,center);
    flex-wrap: wrap;
    margin: 0 auto;
    height: 192px;
    border-bottom: solid #F3D1BF;
    }
    .gridd{
        display: flex;
        justify-content: space-between;
        align-items: center;
    .grid-overlap{
        @include mx-width(566px,100%);
        margin:30px 0 0;
        display: grid;
        .grid1{
            grid-row: 1/3;
            grid-column: 1/2;
            place-self: center;
            img{
                width: 100%;
            }
        }
        .grid2{
            grid-column: 2/2;
            grid-row: 1/3;
            img{
                width: 100%;
            }
        }
        .grid3{
            img{
                width: 100%;
            }
        }
        .grid4{
            grid-column: 1/4;
            grid-row: 2/4;
            place-self: center;
            margin: 20px 0 0;
            img{
                width:100%;
            }
        }
        .grid5{
            grid-column: 1/2;
            grid-row: 3/5;
            img{
                width: 100%;
            }
        }
        .grid6{
            max-width: 384px;
            width: 100%;
            background-color: #F9E5DA;
        }
    }
    .grid-title{
        margin: 150px 0 0;
        h3{
            @extend %h3;
        }
        h2{
           @extend %h2;
        }
        h4{
           @extend %h4;
        }
        p{
            @extend %p;
        }
        button{
            @include button(138px,48px,#391400,#FFFFFF,5px,none);
            text-transform: uppercase;
        }
    }
    }
    .experience{
        display: grid;
        grid-auto-flow: column;
        max-width: 1140px;
        margin: 30px 0 0;
        span{
            font-size: 2rem;
        }
        p{
            font-size: 20px;
            margin-top: 10px;
        }
        .years{
            @extend %boxx;
        }
        .members{
            @extend %boxx;
        }
        .projects{
            @extend %boxx;
        }
    }
    .readme-title{
        @include container(1140px,100%,flex);
        justify-content: space-between;
        margin-top: 50px;
        padding: 25px;
        border-bottom: solid #F3D1BF;
    .titles{
        h4{
            @extend %h4;
        }
        h3{
            @extend %h3;
        }
        h2{
            @extend %h2;
        }
        p{
            @extend %p;
        }
        button{
            @include button(138px,48px,#391400,#FFFFFF,5px,none);
        }
    }
    .titles2{
           @include flex-content(flex,center,center);
           flex-direction: column;
           .numbers{
            p{
                @extend %p;
                text-transform: capitalize;
               }
            span{
                font-size: 3rem;
                margin: 0 30px 0 0;
            }
           }
    }
}
}
.part2{
.video-reel{
    @include flex-content(flex,space-between,center);
    video{
        max-width: 470px;
        width: 100%;
    }
    .video-title{
        h3{
            @extend %h3;
        }
        h2{
            @extend %h2;
        }
        p{
            @extend %p;
        }
    }
}
.feautres{
    @include flex-content(flex,space-between,center);
    margin: 30px 0 0;
    max-width: 1140px;
    .feautres-title{
        h3{
            @extend %h3;
        }
        h2{
            @extend %h2;
        }
        p{
            @extend %p;
        }
        .checkmark{
            margin: 20px 0 0;
            li{
                font-size: 16px;
                margin-bottom: 1em;
                padding: 0.25em 0 0 2.5em;
                position: relative;
            }
            li:before{
                @extend %before;
            }
            li:after{
              @extend %after;
            }
        }
    }
    .grid-position{
        max-width:528px;
        width: 100%;
        height: 550px;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        img{
            width: 100%;
        }
        .office{
            grid-column: 1/4;
            grid-row: 1/4;
            place-self: center;
            z-index: 1;
            max-width: 470px;
        }
        .lavander{
            grid-row: 1/2;
            grid-column: 1/2;
            place-self: center;
            z-index: 2;
        }
        .rectangle{
            grid-column: 1/5;
            grid-row: 3/1;
        }
        .rectangle2{
            grid-column: 3/3;
            grid-row: 3/3;
        }
        .cloudd{
            grid-column: 1/2;
            grid-row: 3/3;
            place-self: center;
        }
        .combined-arrow{
            grid-column: 4/3;
            grid-row: 1/2;
            place-self: center;
        }
    }
}
.feautres2{
    @include flex-content(flex,space-around,center);
    margin: 0 0 35px 0;
    .feautres2-title{
        h3{
            @extend %h3;
        }
        p{
            max-width: 300px;
            opacity: 0.7;
            font-size: 20px;
            margin: 20px 0 0;
            cursor: pointer;
        }
        button{
            cursor: pointer;         
            margin:20px 0 0;
        }
    }
    .feautres2-boxes{
        display: flex;
        .feautres2-box1{
            @include small-box(#FFFFFF);
            .icon-box{
                @include icon-box;
            }
            h2{
               @extend %h22;
            }
            p{
                @extend %p;
                opacity: 0.7;
            }
        }
        .feautres2-box2{
            @include mx-wd-ht(280px,100%,280px);
            @include direction(column,flex-end);
            border:solid #F3D1BF;
            padding: 20px;
            margin:55px 0 0;
            h2{
                @extend %h22;
            }
            p{
                opacity: 0.7;
                max-width: 300px;
            }
        }
    }
}
.containerr{
    @extend %containerr;
    @include flex-content(flex,space-between,stretch);
    .grid-content {
        @include mx-wd-ht(570px,100%,686px);
         display: grid;
         grid-template-rows: repeat(7, 1fr);
         img{
            width: 100%;
         }
         .triangle{
             grid-row: 1/6;
             grid-column: 1/6;
             max-width: 550px;
         }
         .distracted{
             grid-row: 1/4;
             grid-column: 3/2;
             place-self: center;
             z-index: 1;
         }
         .combined{
             grid-row: 2/7;
             grid-column: 2/3;
             place-self: center;
             max-width: 55px;         
         }
         .orange-girl{
             grid-row: 3/6;
             grid-column: 3/3;
             z-index: 1;
         }
         .combined-arrow{
             grid-row: 1/5;
             grid-column: 7/3;
             place-self: center;
             max-width: 168px;
         }
         .profile-content{
             grid-column: 3/5;
             grid-row: 1/2;
             place-self: center;
             max-width: 311px;
         }
         .sun{
             grid-row: 4/2;
             grid-column: 3/7;
             max-width: 146px;
         }
         }
}
.service-box{
    h3{
        @extend %h3;
    }
    h2{
       @include hh2(450px);
    }
    p{
        @extend %p;
    }
    .service-profile{
        @include flex-content(flex,center,center);
        margin: 25px 0 0;
        p{
            margin:0 0 0 25px;
            opacity: 0.7;
        }
    }
    .name{
        margin-left: 85px;
    }
    button{
        @include button(138px,48px,#391400,#FFFFFF,5px,none);
        text-transform: uppercase;
    }
}
.containar{
    @extend %container;
.service-title{
    margin: 30px 0 0 ;
    .service{
        @extend %h3;
    }
    h2{
        font-size: 4rem;
        text-transform: capitalize;
        max-width:452px ;
        margin: 20px 0 0;
     }
     .agency{
        color: black
     }
}
.agency-help{
    @include flex-content(flex,center,center);
    margin: 20px 0 0;
    .agency-box{
        @include small-box(none);
        a{
            color: black;
        }
        .icon-box{
            @include icon-box;
        }
            h2{
                @extend %h22;
            }
        p{
            @extend %p;
            opacity: 0.7;
            text-transform: capitalize;
        }
    }
}
}
}
.portfolio-section{
    @include section(#28293E);
    .portfolio-box{
        @include flex-content(flex,center,center);
        flex-direction: column;
        margin:100px 70px;
    .portfolio{
        @extend %h3;
    }
    .title{
        @include title(100px,white);
    }
    h2{
        margin: 20px 0 0;
    }
    .portfolio-box2{
        display: flex;
        margin: 20px 0 0;
        a{
            @extend %pp;
            margin-left: 60px;
        }
        .motion{
            margin-right: 60px;
        }
}
}
.parenttt {
    button{
        text-transform: capitalize;
    }
    max-width: 1140px;
    width: 100%;
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 0 auto;
    .div1 { 
        grid-area: 1 / 2 / 2 / 4; 
        max-width: 670px;
        img{
            width:100%;
        }
        position: relative;
            .ilustration-absolute{
                @extend %ilustration;
        }
        button{
            @include mini-buttons(84px,38px,none,18px)
        }
        h4{
            @include hh(white,2rem,capitalize);
        }
    }
    .div2 {
         grid-area: 1 / 1 / 2 / 2; 
         max-width: 470px;
         max-height: 416px;
         position: relative;
         .ilustration-absolute{
           @extend %ilustration;
           button{
            @include mini-buttons(84px,38px,none,18px);
        }
        h4{
            @include hh(white,2rem,uppercase);
        }
         }
         img{
            width: 100%;
            height: 100%;
         }
        }
    .div3 { 
        grid-area: 2 / 1 / 3 / 3; 
        max-width: 670px;
        img{
            width: 100%;
        }
        position: relative;
        .ilustration-absolute{
            @extend %ilustration;
            button{
                @include mini-buttons(84px,38px,none,18px);
            }
            h4{
                @include hh(white,2rem,capitalize);
            }
            }
    }
    .div4 { 
        grid-area: 2 / 3 / 3 / 4;
        max-width: 470px;
        max-height: 416px;
        img{
            width: 100%;
            height: 100%;
        }
        position: relative;
        .ilustration-absolute{
            @extend %ilustration;
            button{
                @include mini-buttons(84px,38px,none,18px);
            }
            h4{
                @include hh(white,2rem,uppercase);
            }
            }
     }
    }
    .explore-button{
        @include flex-content(flex,center,center);
        button{
            @include button(170px,48px,white,none,5px,solid);
            margin-bottom: 150px
        }
    }
    .container{
        @extend %container;
        height: 336px;
        background-color: #FDF0E9;
        position: relative;
        display: flex;
        align-items: center;
        .star-absolute{
            position: absolute;
            top: -75px;
            left: 30px;
        }
        .women-absolute{
            position: absolute;
            right: 30px;
            top: -60px;
            width: 239px;
            img{
                width: 100%;
            }
        }
        .inner{
            display: flex;
            align-items: center;
            .get-started{
                margin-left: 45px;
                h3{
                    a{
                        @extend %h3;
                    }
                }
                h2{
                    @extend %h22;
                    max-width: 226px;
                }
                button{
                    @include button(154px,48px,white,#EF6D58,5px,none);
                    margin-right: 25px;
                    text-transform: uppercase;
                }
            }
            .block{
                max-width: 430px;
                img{
                    width: 100%;  
                }
            }
        }
    }
    .team{
        margin: 30px 0 0;
        h3{
            @extend %h3;
        }
        h2{
            @include title(510px,white);
            margin-bottom: 20px;
        }
    }
}
