.dropbtn {
    background-color:#FFFFFF;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 329px;
    text-transform: capitalize;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #FFFFFF;
  }
  
  .dropdown {
    position: relative;
    display:none;
    margin: 20px 0 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 329px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-transform: uppercase;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  @media(max-width:700px){
    .dropdown{
        display: block;
    }
    .portfolio-box2{
        display: none !important;
    }
  }
  