//  size variable
 $size100:100px;
 $size200:200px;
 $size300:300px;
 $size400:400px;
 $size500:500px;
 $size600:600px;
 $size700:700px;
 

// color variable
 $colowhite:white;
 $colorred:red;
 $colo003:#3D58A6;
 $colorblack:black;
 $color004:#3D37F1;
//  fonsize variable
 $fontsize32:32px;
 $fontsize22:22px;
 $fontsize18:18px;

//  padding variable
 $padding10:10px;
 $padding20:20px;

//  margin variable
$margin10:10px;
$margin20:20px;
$margin05:5px;

//  width variable
 $width001:100%;
 $width005:50px;

//  height variable
 $height50:50px;

 //background color
 $bg-part2:#FDF0E9;

//  
// 
$h-padding: 15px;
$h-width: 36px;
$h-height: 24px;
$h-background-color: transparent;
$h-line-color: #fff;
$h-hover-line-color: #EF6D58;
$h-line-height: 2px;
$h-border-radius: 4px;
$h-transition-time: 0.4s;
$h-transition-function: ease;
$h-transition-opacity: 0;
$h-vertical-gap: 13px;
$h-initial-opposition: 5px;
$h-hide-distance: $h-width + $h-padding;
$bgBlue: #001d38;
$cardBlue: #0a2640;
$font: "Poppins";