@import './moduls/variable.css';
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

* a {
  text-decoration: none;
}

.home-cont .guide-cont p {
  opacity: 0.7;
  font-size: 16px;
  color: #FFF;
  line-height: 20px;
}

body {
  margin: 0 auto;
}

.home-section {
  max-width: 1280px;
  width: 100%;
  background-color: #28293E;
  padding: 20px;
}
.home-section .head-main-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-section .head-main-cont .logo {
  align-items: center;
  display: flex;
}
.home-section .head-main-cont h3 {
  font-size: 24px;
  color: #FFFFFF;
  text-transform: capitalize;
}
.home-section .head-main-cont .navbar {
  width: 500px;
}
.home-section .head-main-cont .navbar nav ul {
  display: flex;
  justify-content: space-between;
}
.home-section .head-main-cont .navbar nav ul a {
  font-size: 16px;
  color: white;
  text-transform: capitalize;
  padding-left: 20px;
}
.home-section .head-main-cont .button button {
  width: 170px;
  height: 48px;
  color: white;
  background: none;
  border-radius: 5px;
  border: revert;
}
.home-section .head-main-cont .burger {
  display: none;
}

.home-cont {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.home-cont .guide-cont {
  max-width: 430px;
  width: 100%;
  padding: 20px 0 0;
}
.home-cont .guide-cont h3 {
  font-size: 18px;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.home-cont .guide-cont .relative-title {
  position: relative;
  margin: 40px 0 0;
  z-index: 1;
}
.home-cont .guide-cont .relative-title h1 {
  font-size: 72px;
  color: white;
}
.home-cont .guide-cont .relative-title .absolute-star {
  position: absolute;
  top: -20px;
  right: 20px;
  z-index: -1;
}
.home-cont .guide-cont p {
  padding: 35px 0 0;
}
.home-cont .guide-cont .home-button-box {
  display: flex;
  padding: 35px 0 0;
}
.home-cont .guide-cont .home-button-box .home-button1 {
  width: 154px;
  height: 48px;
  color: white;
  background: #EF6D58;
  border-radius: 5px;
  border: none;
  margin-right: 25px;
  text-transform: uppercase;
}
.home-cont .guide-cont .home-button-box .home-button2 {
  width: 154px;
  height: 48px;
  color: white;
  background: none;
  border-radius: none;
  border: none;
  text-transform: capitalize;
}
.home-cont .img-relative {
  position: relative;
  display: flex;
}
.home-cont .img-relative .comp-absl {
  position: absolute;
  top: 20px;
  left: 20px;
}
.home-cont .img-relative .profile-box-part2 {
  margin-left: 30px;
}
.home-cont .img-relative .profile-box-part2 .circle-cloud {
  display: flex;
}
.home-cont .img-relative .profile-box-part2 .circle-cloud .circle-relt img {
  width: 112px;
  height: 112px;
}
.home-cont .img-relative .profile-box-part2 .circle-cloud .circle-relt .star-absl {
  position: absolute;
  top: 30px;
  right: 190px;
}
.home-cont .img-relative .profile-box-part2 .circle-cloud .circle-relt .star-absl img {
  width: 42px;
  height: 56px;
}
.home-cont .img-relative .profile-box-part2 .circle-cloud .cloud {
  margin-top: 40px;
  margin-left: 40px;
}
.home-cont .flexx {
  display: flex;
}
.home-cont .flexx .flex .combined-shape {
  padding: 20px 0 0;
}
.home-cont .flexx .flex .profile-box {
  opacity: 0.9;
  display: flex;
  padding: 20px 0 0;
  width: 214px;
  height: 112px;
  background-color: #FFFFFF;
  margin-left: 20px;
  border-radius: 2px;
}
.home-cont .flexx .flex .profile-box img {
  width: 45px;
  height: 45px;
  margin-left: 20px;
}
.home-cont .flexx .flex .profile-box .btn {
  display: flex;
  flex-direction: column;
}
.home-cont .flexx .flex .profile-box .btn .btn1 {
  width: 94px;
  height: 14px;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.home-cont .flexx .flex .profile-box .btn .btn2 {
  width: 78px;
  height: 6px;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.home-cont .flexx .flex .profile-box .btn .btn3 {
  width: 94px;
  height: 6px;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.home-cont .flexx .flex .profile-box .btn .btn4 {
  width: 62px;
  height: 6px;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.home-cont .flexx .yellow-bg-rlt {
  position: relative;
  margin-top: -140px;
  margin-left: 40px;
}
.home-cont .flexx .yellow-bg-rlt .girl-absl {
  position: absolute;
  top: 2px;
}
.home-cont .circle {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #32334C;
  opacity: 0.3;
  border-radius: 50%;
  bottom: 40px;
  right: 140px;
}