@charset "UTF-8";
@import './moduls/variable.css';
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

* a {
  text-decoration: none;
}

.portfolio-section .parent, .portfolio-section .container, .part2 .containar {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.home-cont .guide-cont p {
  opacity: 0.7;
  font-size: 16px;
  color: #FFF;
  line-height: 20px;
}

section .blog-title h3, .faq-section .allfather .faq-box h3 a, .pricing-section .allfather .consult-cont2 h3 a, .pricing-section .allfather .consult-cont h3 a, .pricing-section .pricing-title h3 a, .testimonials-section .center-title h3 a, .home-section .founder-main-parent .founder-words h3 a, .home-section .events h3, .portfolio-section .events h3, .portfolio-section .container .inner .get-started h3 a, .portfolio-section .portfolio-box .portfolio, .part2 .containar .service-title .service, .part2 .service-box h3, .part2 .feautres2 .feautres2-title h3, .part2 .feautres .feautres-title h3, .part2 .video-reel .video-title h3, .part2 .readme-title .titles h3, .part2 .gridd .grid-title h3, .home-cont .guide-cont h3 {
  font-size: 1rem;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.part2 .containar .agency-help .agency-box p, .part2 .service-box p, .part2 .feautres2 .feautres2-boxes .feautres2-box1 p, .part2 .feautres .feautres-title p, .part2 .video-reel .video-title p, .part2 .readme-title .titles2 .numbers p, .part2 .readme-title .titles p, .part2 .gridd .grid-title p {
  font-size: 20px;
  color: black;
  line-height: initial;
  max-width: 470px;
  margin-top: 20px;
  line-height: 1;
}

.part2 .experience .projects, .part2 .experience .members, .part2 .experience .years {
  padding: 50px;
  border: 1px solid #F3D1BF;
  cursor: pointer;
}

.part2 .feautres .feautres-title h2, .part2 .video-reel .video-title h2, .part2 .readme-title .titles h2, .part2 .gridd .grid-title h2 {
  font-size: 4rem;
  color: black;
  text-transform: capitalize;
  max-width: 407px;
  margin: 20px 0 0;
}

.portfolio-section .container .inner .get-started h2, .part2 .containar .agency-help .agency-box h2, .part2 .feautres2 .feautres2-boxes .feautres2-box2 h2, .part2 .feautres2 .feautres2-boxes .feautres2-box1 h2 {
  font-size: 24px;
  text-transform: capitalize;
  margin: 20px 0 0;
}

.part2 .readme-title .titles h4, .part2 .gridd .grid-title h4 {
  font-size: 20px;
  color: #391400;
  margin: 30px 0 0;
}

.part2 .feautres .feautres-title .checkmark li:before {
  content: " ";
  display: block;
  border: solid 0.8em #EF6C57;
  content: " ";
  display: block;
  border: solid 0.8em #EF6C57;
  border-radius: 0.8em;
  height: 0;
  width: 0;
  position: absolute;
  left: 0.5em;
  top: 40%;
  margin-top: -0.5em;
}

.part2 .feautres .feautres-title .checkmark li:after {
  content: " ";
  display: block;
  width: 0.3em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  position: absolute;
  left: 1em;
  top: 40%;
  margin-top: -0.2em;
  transform: rotate(45deg);
}

.part2 .containerr {
  margin: 30px 0 0;
  max-width: 1240px;
}

.portfolio-section .portfolio-box .portfolio-box2 a {
  font-size: 16px;
  opacity: 0.7;
  text-transform: capitalize;
  color: #FFF;
}

.portfolio-section .parenttt .div4 .ilustration-absolute, .portfolio-section .parenttt .div3 .ilustration-absolute, .portfolio-section .parenttt .div2 .ilustration-absolute, .portfolio-section .parenttt .div1 .ilustration-absolute {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

.home-section {
  max-width: 1280px;
  width: 100%;
  background-color: #28293E;
  padding: 20px;
}
.home-section .head-main-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-section .head-main-cont .logo {
  align-items: center;
  display: flex;
}
.home-section .head-main-cont h3 {
  font-size: 24px;
  color: #FFFFFF;
  text-transform: capitalize;
}
.home-section .head-main-cont .navbar {
  width: 500px;
}
.home-section .head-main-cont .navbar nav ul {
  display: flex;
  justify-content: space-between;
}
.home-section .head-main-cont .navbar nav ul a {
  font-size: 16px;
  color: white;
  text-transform: capitalize;
  padding-left: 20px;
}
.home-section .head-main-cont .button button {
  width: 170px;
  height: 48px;
  color: white;
  background: none;
  border-radius: 5px;
  border: revert;
  cursor: pointer;
  margin: 20px 0 0;
}
.home-section .head-main-cont .burger .hamburger {
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
}
.home-section .head-main-cont .burger .hamburger__container {
  width: 36px;
  height: 24px;
  position: relative;
}
.home-section .head-main-cont .burger .hamburger.is-active .home-section .head-main-cont .burger .hamburger__inner {
  display: none;
}
.home-section .head-main-cont .burger .hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  top: 50%;
  transform: translate(5px, -50%);
  opacity: 1;
}
.home-section .head-main-cont .burger .hamburger__inner::before, .home-section .head-main-cont .burger .hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  content: "";
  opacity: 1;
  transform: translate(-5px, 0);
}
.home-section .head-main-cont .burger .hamburger__inner::before {
  top: -13px;
}
.home-section .head-main-cont .burger .hamburger__inner::after {
  top: 13px;
}
.home-section .head-main-cont .burger .hamburger.is-active .home-section .head-main-cont .burger .hamburger__hidden {
  opacity: 1;
  transform: rotate(45deg);
}
.home-section .head-main-cont .burger .hamburger.is-active .home-section .head-main-cont .burger .hamburger__hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}
.home-section .head-main-cont .burger .hamburger.is-active .home-section .head-main-cont .burger .hamburger__hidden::after {
  transform-origin: center;
  transform: translate(0, -13px) rotate(0);
}
.home-section .head-main-cont .burger .hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #EF6D58;
  top: 50%;
  transform: translate(51px, -50%);
}
.home-section .head-main-cont .burger .hamburger__hidden::before, .home-section .head-main-cont .burger .hamburger__hidden::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #EF6D58;
  content: "";
  transform: translate(102px, 0);
}
.home-section .head-main-cont .burger .hamburger__hidden::before {
  top: -13px;
}
.home-section .head-main-cont .burger .hamburger__hidden::after {
  top: 13px;
}

.home-cont {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.home-cont .guide-cont {
  max-width: 430px;
  width: 100%;
  padding: 20px 0 0;
}
.home-cont .guide-cont .relative-title {
  position: relative;
  margin: 1rem 0 0;
  z-index: 1;
}
.home-cont .guide-cont .relative-title h1 {
  font-size: 4rem;
  color: white;
  text-transform: capitalize;
}
.home-cont .guide-cont .relative-title .absolute-star {
  position: absolute;
  top: -20px;
  right: 20px;
  z-index: -1;
}
.home-cont .guide-cont p {
  padding: 1rem 0 0;
}
.home-cont .guide-cont .home-button-box {
  display: flex;
  padding: 3rem 0 0;
}
.home-cont .guide-cont .home-button-box .home-button1 {
  width: 154px;
  height: 48px;
  color: white;
  background: #EF6D58;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 20px 0 0;
  margin-right: 25px;
  text-transform: uppercase;
}
.home-cont .guide-cont .home-button-box .home-button2 {
  width: 154px;
  height: 48px;
  color: white;
  background: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  margin: 20px 0 0;
  text-transform: capitalize;
}
.home-cont .home-part2 {
  max-width: 570px;
  display: grid;
  grid-auto-flow: column;
  margin: 20px 0 0;
}
.home-cont .home-part2 .img-relative {
  max-width: 246px;
  position: relative;
}
.home-cont .home-part2 .img-relative img {
  width: 100%;
}
.home-cont .home-part2 .img-relative .comp-absl {
  position: absolute;
  top: 20px;
  left: 20px;
}
.home-cont .home-part2 .img-relative .comp-absl img {
  width: 100%;
}
.home-cont .home-part2 .img-relative .combined-shape {
  max-width: 100px;
  margin: 20px 0 20px 0;
}
.home-cont .home-part2 .img-relative .combined-shape img {
  width: 100%;
}
.home-cont .home-part2 .anim img {
  width: 100%;
}
.home-cont .home-part2 .anim .oval-cloud {
  display: flex;
  margin-bottom: 50px;
}
.home-cont .home-part2 .anim .oval-cloud .oval-relt {
  max-width: 112px;
  position: relative;
  margin-left: 20px;
}
.home-cont .home-part2 .anim .oval-cloud .oval-relt img {
  width: 100%;
}
.home-cont .home-part2 .anim .oval-cloud .oval-relt .stars-absl {
  position: absolute;
  top: 30px;
  left: 30px;
  animation-name: animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-direction: alternate;
}
.home-cont .home-part2 .anim .oval-cloud .cloud {
  margin-left: 20px;
}
.home-cont .home-part2 .anim .girl-relt {
  position: relative;
  margin: 0 0 0 50px;
}
.home-cont .home-part2 .anim .girl-abslt {
  position: absolute;
  top: 1px;
}

.part2 {
  background-color: #FDF0E9;
  max-width: 1280px;
  width: 100%;
  padding: 20px;
}
.part2 .brand-cont {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 192px;
  border-bottom: solid #F3D1BF;
}
.part2 .gridd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.part2 .gridd .grid-overlap {
  max-width: 566px;
  width: 100%;
  margin: 30px 0 0;
  display: grid;
}
.part2 .gridd .grid-overlap .grid1 {
  grid-row: 1/3;
  grid-column: 1/2;
  place-self: center;
}
.part2 .gridd .grid-overlap .grid1 img {
  width: 100%;
}
.part2 .gridd .grid-overlap .grid2 {
  grid-column: 2/2;
  grid-row: 1/3;
}
.part2 .gridd .grid-overlap .grid2 img {
  width: 100%;
}
.part2 .gridd .grid-overlap .grid3 img {
  width: 100%;
}
.part2 .gridd .grid-overlap .grid4 {
  grid-column: 1/4;
  grid-row: 2/4;
  place-self: center;
  margin: 20px 0 0;
}
.part2 .gridd .grid-overlap .grid4 img {
  width: 100%;
}
.part2 .gridd .grid-overlap .grid5 {
  grid-column: 1/2;
  grid-row: 3/5;
}
.part2 .gridd .grid-overlap .grid5 img {
  width: 100%;
}
.part2 .gridd .grid-overlap .grid6 {
  max-width: 384px;
  width: 100%;
  background-color: #F9E5DA;
}
.part2 .gridd .grid-title {
  margin: 150px 0 0;
}
.part2 .gridd .grid-title button {
  width: 138px;
  height: 48px;
  color: #391400;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 20px 0 0;
  text-transform: uppercase;
}
.part2 .experience {
  display: grid;
  grid-auto-flow: column;
  max-width: 1140px;
  margin: 30px 0 0;
}
.part2 .experience span {
  font-size: 2rem;
}
.part2 .experience p {
  font-size: 20px;
  margin-top: 10px;
}
.part2 .readme-title {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 25px;
  border-bottom: solid #F3D1BF;
}
.part2 .readme-title .titles button {
  width: 138px;
  height: 48px;
  color: #391400;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 20px 0 0;
}
.part2 .readme-title .titles2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.part2 .readme-title .titles2 .numbers p {
  text-transform: capitalize;
}
.part2 .readme-title .titles2 .numbers span {
  font-size: 3rem;
  margin: 0 30px 0 0;
}

.part2 .video-reel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.part2 .video-reel video {
  max-width: 470px;
  width: 100%;
}
.part2 .feautres {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0;
  max-width: 1140px;
}
.part2 .feautres .feautres-title .checkmark {
  margin: 20px 0 0;
}
.part2 .feautres .feautres-title .checkmark li {
  font-size: 16px;
  margin-bottom: 1em;
  padding: 0.25em 0 0 2.5em;
  position: relative;
}
.part2 .feautres .grid-position {
  max-width: 528px;
  width: 100%;
  height: 550px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}
.part2 .feautres .grid-position img {
  width: 100%;
}
.part2 .feautres .grid-position .office {
  grid-column: 1/4;
  grid-row: 1/4;
  place-self: center;
  z-index: 1;
  max-width: 470px;
}
.part2 .feautres .grid-position .lavander {
  grid-row: 1/2;
  grid-column: 1/2;
  place-self: center;
  z-index: 2;
}
.part2 .feautres .grid-position .rectangle {
  grid-column: 1/5;
  grid-row: 3/1;
}
.part2 .feautres .grid-position .rectangle2 {
  grid-column: 3/3;
  grid-row: 3/3;
}
.part2 .feautres .grid-position .cloudd {
  grid-column: 1/2;
  grid-row: 3/3;
  place-self: center;
}
.part2 .feautres .grid-position .combined-arrow {
  grid-column: 4/3;
  grid-row: 1/2;
  place-self: center;
}
.part2 .feautres2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 35px 0;
}
.part2 .feautres2 .feautres2-title p {
  max-width: 300px;
  opacity: 0.7;
  font-size: 20px;
  margin: 20px 0 0;
  cursor: pointer;
}
.part2 .feautres2 .feautres2-title button {
  cursor: pointer;
  margin: 20px 0 0;
}
.part2 .feautres2 .feautres2-boxes {
  display: flex;
}
.part2 .feautres2 .feautres2-boxes .feautres2-box1 {
  max-width: 390px;
  width: 100%;
  height: 336px;
  background-color: #FFFFFF;
  padding: 40px;
  border: solid #F3D1BF;
}
.part2 .feautres2 .feautres2-boxes .feautres2-box1 .icon-box {
  background-color: #EF6D58;
  max-width: 80px;
  height: 80px;
  border-radius: 40px;
  padding: 25px;
}
.part2 .feautres2 .feautres2-boxes .feautres2-box1 p {
  opacity: 0.7;
}
.part2 .feautres2 .feautres2-boxes .feautres2-box2 {
  max-width: 280px;
  width: 100%;
  height: 280px;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  border: solid #F3D1BF;
  padding: 20px;
  margin: 55px 0 0;
}
.part2 .feautres2 .feautres2-boxes .feautres2-box2 p {
  opacity: 0.7;
  max-width: 300px;
}
.part2 .containerr {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.part2 .containerr .grid-content {
  max-width: 570px;
  width: 100%;
  height: 686px;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}
.part2 .containerr .grid-content img {
  width: 100%;
}
.part2 .containerr .grid-content .triangle {
  grid-row: 1/6;
  grid-column: 1/6;
  max-width: 550px;
}
.part2 .containerr .grid-content .distracted {
  grid-row: 1/4;
  grid-column: 3/2;
  place-self: center;
  z-index: 1;
}
.part2 .containerr .grid-content .combined {
  grid-row: 2/7;
  grid-column: 2/3;
  place-self: center;
  max-width: 55px;
}
.part2 .containerr .grid-content .orange-girl {
  grid-row: 3/6;
  grid-column: 3/3;
  z-index: 1;
}
.part2 .containerr .grid-content .combined-arrow {
  grid-row: 1/5;
  grid-column: 7/3;
  place-self: center;
  max-width: 168px;
}
.part2 .containerr .grid-content .profile-content {
  grid-column: 3/5;
  grid-row: 1/2;
  place-self: center;
  max-width: 311px;
}
.part2 .containerr .grid-content .sun {
  grid-row: 4/2;
  grid-column: 3/7;
  max-width: 146px;
}
.part2 .service-box h2 {
  max-width: 450px;
  font-size: 4rem;
  color: black;
  text-transform: capitalize;
  margin: 20px 0 0;
}
.part2 .service-box .service-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 0;
}
.part2 .service-box .service-profile p {
  margin: 0 0 0 25px;
  opacity: 0.7;
}
.part2 .service-box .name {
  margin-left: 85px;
}
.part2 .service-box button {
  width: 138px;
  height: 48px;
  color: #391400;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 20px 0 0;
  text-transform: uppercase;
}
.part2 .containar .service-title {
  margin: 30px 0 0;
}
.part2 .containar .service-title h2 {
  font-size: 4rem;
  text-transform: capitalize;
  max-width: 452px;
  margin: 20px 0 0;
}
.part2 .containar .service-title .agency {
  color: black;
}
.part2 .containar .agency-help {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0;
}
.part2 .containar .agency-help .agency-box {
  max-width: 390px;
  width: 100%;
  height: 336px;
  background-color: none;
  padding: 40px;
  border: solid #F3D1BF;
}
.part2 .containar .agency-help .agency-box a {
  color: black;
}
.part2 .containar .agency-help .agency-box .icon-box {
  background-color: #EF6D58;
  max-width: 80px;
  height: 80px;
  border-radius: 40px;
  padding: 25px;
}
.part2 .containar .agency-help .agency-box p {
  opacity: 0.7;
  text-transform: capitalize;
}

.portfolio-section {
  max-width: 1280px;
  width: 100%;
  background-color: #28293E;
  padding: 20px;
}
.portfolio-section .portfolio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 70px;
}
.portfolio-section .portfolio-box .title {
  font-size: 4rem;
  text-transform: capitalize;
  max-width: 100px;
  color: white;
  margin: 20px 0 0;
}
.portfolio-section .portfolio-box h2 {
  margin: 20px 0 0;
}
.portfolio-section .portfolio-box .portfolio-box2 {
  display: flex;
  margin: 20px 0 0;
}
.portfolio-section .portfolio-box .portfolio-box2 a {
  margin-left: 60px;
}
.portfolio-section .portfolio-box .portfolio-box2 .motion {
  margin-right: 60px;
}
.portfolio-section .parenttt {
  max-width: 1140px;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 0 auto;
}
.portfolio-section .parenttt button {
  text-transform: capitalize;
}
.portfolio-section .parenttt .div1 {
  grid-area: 1/2/2/4;
  max-width: 670px;
  position: relative;
}
.portfolio-section .parenttt .div1 img {
  width: 100%;
}
.portfolio-section .parenttt .div1 button {
  width: 84px;
  height: 38px;
  border: none;
  border-radius: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}
.portfolio-section .parenttt .div1 h4 {
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
}
.portfolio-section .parenttt .div2 {
  grid-area: 1/1/2/2;
  max-width: 470px;
  max-height: 416px;
  position: relative;
}
.portfolio-section .parenttt .div2 .ilustration-absolute button {
  width: 84px;
  height: 38px;
  border: none;
  border-radius: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}
.portfolio-section .parenttt .div2 .ilustration-absolute h4 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}
.portfolio-section .parenttt .div2 img {
  width: 100%;
  height: 100%;
}
.portfolio-section .parenttt .div3 {
  grid-area: 2/1/3/3;
  max-width: 670px;
  position: relative;
}
.portfolio-section .parenttt .div3 img {
  width: 100%;
}
.portfolio-section .parenttt .div3 .ilustration-absolute button {
  width: 84px;
  height: 38px;
  border: none;
  border-radius: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}
.portfolio-section .parenttt .div3 .ilustration-absolute h4 {
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
}
.portfolio-section .parenttt .div4 {
  grid-area: 2/3/3/4;
  max-width: 470px;
  max-height: 416px;
  position: relative;
}
.portfolio-section .parenttt .div4 img {
  width: 100%;
  height: 100%;
}
.portfolio-section .parenttt .div4 .ilustration-absolute button {
  width: 84px;
  height: 38px;
  border: none;
  border-radius: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}
.portfolio-section .parenttt .div4 .ilustration-absolute h4 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}
.portfolio-section .explore-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-section .explore-button button {
  width: 170px;
  height: 48px;
  color: white;
  background: none;
  border-radius: 5px;
  border: solid;
  cursor: pointer;
  margin: 20px 0 0;
  margin-bottom: 150px;
}
.portfolio-section .container {
  height: 336px;
  background-color: #FDF0E9;
  position: relative;
  display: flex;
  align-items: center;
}
.portfolio-section .container .star-absolute {
  position: absolute;
  top: -75px;
  left: 30px;
}
.portfolio-section .container .women-absolute {
  position: absolute;
  right: 30px;
  top: -60px;
  width: 239px;
}
.portfolio-section .container .women-absolute img {
  width: 100%;
}
.portfolio-section .container .inner {
  display: flex;
  align-items: center;
}
.portfolio-section .container .inner .get-started {
  margin-left: 45px;
}
.portfolio-section .container .inner .get-started h2 {
  max-width: 226px;
}
.portfolio-section .container .inner .get-started button {
  width: 154px;
  height: 48px;
  color: white;
  background: #EF6D58;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 20px 0 0;
  margin-right: 25px;
  text-transform: uppercase;
}
.portfolio-section .container .inner .block {
  max-width: 430px;
}
.portfolio-section .container .inner .block img {
  width: 100%;
}
.portfolio-section .events {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin: 30px 0 0;
}
.portfolio-section .events h2 {
  font-size: 4rem;
  text-transform: capitalize;
  max-width: 386px;
  color: white;
  margin: 20px 0 0;
  margin-bottom: 20px;
  text-align: center;
}
.portfolio-section .parent {
  display: flex;
  justify-content: space-between;
}
.portfolio-section .parent .date-cont {
  max-width: 370px;
  width: 100%;
  display: block;
  height: 448px;
  margin: 65px 0 0;
  padding: 25px;
  border: solid #3A3C56;
}
.portfolio-section .parent .date-cont .date-time {
  max-width: 370px;
  width: 100%;
  display: block;
  border-bottom: #707070 solid;
  height: 140px;
}
.portfolio-section .parent .date-cont .date-time .month-cont {
  align-items: center;
  display: flex;
  height: 65px;
}
.portfolio-section .parent .date-cont .date-time .month-cont .digit p {
  color: white;
  font-size: 76px;
  text-transform: uppercase;
}
.portfolio-section .parent .date-cont .date-time .month-cont .month h2 {
  color: white;
  font-size: 30px;
  text-transform: capitalize;
  width: 130px;
  margin-left: 15px;
}
.portfolio-section .parent .date-cont .date-time .time {
  display: flex;
  margin: 20px 0 0;
}
.portfolio-section .parent .date-cont .date-time .time p {
  color: white;
  font-size: 16px;
  text-transform: none;
  margin-left: 10px;
}
.portfolio-section .parent .date-cont .date-title h2 {
  margin: 30px 0 0;
}
.portfolio-section .parent .date-cont .date-title h2 a {
  margin: 30px 0 0;
  color: white;
  font-size: 30px;
  text-transform: capitalize;
}
.portfolio-section .parent .date-cont .date-title p {
  margin: 20px 0 0;
}
.portfolio-section .parent .date-cont .date-title p a {
  opacity: 0.7;
  color: white;
  max-width: 290px;
  line-height: 25px;
  margin: 20px 0 0;
}
.portfolio-section .parent .date-cont .date-title button {
  width: 88px;
  height: 48px;
  color: white;
  background: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  margin: 20px 0 0;
  text-transform: capitalize;
}
.portfolio-section .btton {
  display: flex;
  justify-content: center;
  margin: 50px 0 0;
}
.portfolio-section .btton button {
  width: 170px;
  height: 48px;
  color: white;
  background: none;
  border-radius: 5px;
  border: solid #3A3C56;
  cursor: pointer;
  margin: 20px 0 0;
  text-transform: uppercase;
}

.home-section {
  overflow: hidden;
}
.home-section .events {
  flex-direction: column;
  align-items: baseline;
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
}
.home-section .events h3 {
  margin: 50px 0 0;
}
.home-section .events h2 {
  font-size: 4rem;
  text-transform: capitalize;
  max-width: 500px;
  color: white;
  margin: 20px 0 0;
  margin-bottom: 50px;
}
.home-section .center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.home-section .wrapper {
  display: flex;
  grid-gap: 1em;
  overflow: hidden;
  width: 75em;
  max-width: 1170px;
}
.home-section .wrapper > .innerr {
  display: flex;
  grid-gap: 1em;
  transition: all 1s ease-in-out;
}
.home-section .card {
  display: flex;
  justify-content: flex-end;
  align-items: static;
  flex-direction: column;
  border: solid #3A3C56;
  width: 278px;
}
.home-section .card > img {
  display: block;
  width: 100%;
  height: 70%;
  cursor: pointer;
}
.home-section .card > .content {
  padding: 1em;
}
.home-section .card > .content > h1, .home-section .card > .content > h3 {
  margin: 0.35em 0;
}
.home-section .card > .content > h1 a {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1;
  text-transform: capitalize;
}
.home-section .card > .content > h3 {
  color: #ccc;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: capitalize;
}
.home-section .map {
  margin-top: 1em;
}
.home-section .map > button {
  all: unset;
  background: #11406c;
  cursor: pointer;
  margin: 0 0.125em;
  position: relative;
  user-select: none;
  border-radius: 100%;
  height: 1em;
  width: 1em;
}
.home-section .map > button.active:after {
  background: #001d38;
  content: "";
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 100%;
  height: 0.5em;
  width: 0.5em;
}
.home-section .founder-main-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}
.home-section .founder-main-parent .founder {
  max-width: 570px;
  margin: 80px 20px 0 0;
}
.home-section .founder-main-parent .founder img {
  width: 100%;
}
.home-section .founder-main-parent .founder-words {
  margin: 80px 0 0;
}
.home-section .founder-main-parent .founder-words h2 {
  max-width: 433px;
  margin: 30px 0 30px 0;
}
.home-section .founder-main-parent .founder-words h2 a {
  color: white;
  font-size: 40px;
  text-transform: initial;
}
.home-section .founder-main-parent .founder-words h4 a {
  color: white;
  font-size: 20px;
  text-transform: capitalize;
}
.home-section .founder-main-parent .founder-words h5 {
  margin: 20px 0 0;
}
.home-section .founder-main-parent .founder-words h5 a {
  color: white;
  font-size: 14px;
  text-transform: capitalize;
  opacity: 0.7;
}

.testimonials-section {
  max-width: 1280px;
  width: 100%;
  background-color: #FDF0E9;
  padding: 20px;
}
.testimonials-section .center-title {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin: 30px 0 0;
}
.testimonials-section .center-title h2 {
  max-width: 376px;
  text-align: center;
  margin: 25px;
}
.testimonials-section .center-title h2 a {
  font-size: 4rem;
  text-transform: capitalize;
  max-width: 344px;
  color: black;
  margin: 20px 0 0;
  margin-bottom: 20px;
  text-align: center;
}
.testimonials-section .allfather {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 1240px;
  flex-wrap: wrap;
}
.testimonials-section .allfather .star-rating-parent {
  border: solid #F3D1BF;
  display: flex;
  width: 585px;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 {
  padding: 30px;
  background-color: white;
  width: 100%;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .star-rating {
  font-size: 0;
  white-space: nowrap;
  display: flex;
  width: 110px;
  height: 22px;
  overflow: hidden;
  position: relative;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .star-rating input {
  appearance: none;
  opacity: 0;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .star-rating input:hover + i, .testimonials-section .allfather .star-rating-parent .rating-inner1 .star-rating input:checked + i {
  opacity: 1;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .star-rating i ~ i {
  width: 40%;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .star-rating i ~ i ~ i {
  width: 60%;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 h3 {
  margin: 20px 0 0;
  max-width: 470px;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 h3 a {
  line-height: 20px;
  opacity: 0.7;
  margin-top: 25px;
  color: #391400;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .oval-cont {
  display: flex;
  align-items: center;
  margin: 30px 0 0;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .oval-cont .oval-box {
  max-width: 80px;
  border-radius: 50%;
  height: 80px;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .oval-cont .oval-box a img {
  width: 100%;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .oval-cont .author {
  margin-left: 20px;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .oval-cont .author h2 a {
  color: #391400;
  font-size: 2rem;
  text-transform: capitalize;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .oval-cont .author h4 {
  margin: 10px 0 0;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .oval-cont .author h4 a {
  color: #391400;
  font-size: 1rem;
  text-transform: capitalize;
}
.testimonials-section .allfather .star-rating-parent .rating-inner1 .choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}
.testimonials-section .allfather .star-rating-parent .rating-inner {
  padding: 30px;
  max-width: 586px;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 110px;
  height: 22px;
  overflow: hidden;
  position: relative;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .star-rating input {
  appearance: none;
  opacity: 0;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .star-rating input:hover + i, .testimonials-section .allfather .star-rating-parent .rating-inner .star-rating input:checked + i {
  opacity: 1;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .star-rating i ~ i {
  width: 40%;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .star-rating i ~ i ~ i {
  width: 60%;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.testimonials-section .allfather .star-rating-parent .rating-inner h3 {
  margin: 20px 0 0;
  max-width: 470px;
}
.testimonials-section .allfather .star-rating-parent .rating-inner h3 a {
  line-height: 20px;
  opacity: 0.7;
  margin-top: 25px;
  color: #391400;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .oval-cont {
  display: flex;
  align-items: center;
  margin: 30px 0 0;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .oval-cont .oval-box {
  max-width: 80px;
  border-radius: 50%;
  height: 80px;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .oval-cont .oval-box a img {
  width: 100%;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .oval-cont .author {
  margin-left: 20px;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .oval-cont .author h2 a {
  color: #391400;
  font-size: 2rem;
  text-transform: capitalize;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .oval-cont .author h4 {
  margin: 10px 0 0;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .oval-cont .author h4 a {
  color: #391400;
  font-size: 1rem;
  text-transform: capitalize;
}
.testimonials-section .allfather .star-rating-parent .rating-inner .choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}

.pricing-section {
  max-width: 1280px;
  width: 100%;
  background-color: #FDF0E9;
  padding: 20px;
}
.pricing-section .pricing-title {
  max-width: 315px;
  margin: 40px 0 0 10px;
}
.pricing-section .pricing-title h2 a {
  color: black;
  font-size: 56px;
  text-transform: capitalize;
}
.pricing-section .allfather {
  display: flex;
  margin: 60px 0 0;
  align-items: flex-end;
}
.pricing-section .allfather .consult-cont {
  max-width: 391px;
  border: solid #F3D1BF;
  padding: 40px;
  height: 470px;
}
.pricing-section .allfather .consult-cont h4 {
  margin: 25px 0 0;
}
.pricing-section .allfather .consult-cont h4 a {
  color: black;
  font-size: 40px;
  text-transform: capitalize;
}
.pricing-section .allfather .consult-cont p {
  margin: 25px 0 0;
}
.pricing-section .allfather .consult-cont p a {
  color: black;
  font-size: 1rem;
  text-transform: none;
  opacity: 0.7;
  line-height: 20px;
}
.pricing-section .allfather .consult-cont .flex-plus {
  margin: 30px 0 0;
  display: flex;
}
.pricing-section .allfather .consult-cont .flex-plus h5 {
  margin-left: 15px;
}
.pricing-section .allfather .consult-cont .flex-plus h5 a {
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
}
.pricing-section .allfather .consult-cont .flex-minus {
  margin: 30px 0 0;
  display: flex;
}
.pricing-section .allfather .consult-cont .flex-minus h5 {
  margin-left: 15px;
}
.pricing-section .allfather .consult-cont .flex-minus h5 a {
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
  opacity: 0.5;
}
.pricing-section .allfather .consult-cont button {
  width: 138px;
  height: 48px;
  color: #391400;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 20px 0 0;
  text-transform: uppercase;
}
.pricing-section .allfather .consult-cont2 {
  max-width: 391px;
  border: solid #F3D1BF;
  padding: 40px;
  height: 520px;
  background-color: #FFFFFF;
}
.pricing-section .allfather .consult-cont2 .popular-btn {
  width: 94px;
  height: 38px;
  color: white;
  background: #EF6D58;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 20px 0 0;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.pricing-section .allfather .consult-cont2 h4 {
  margin: 25px 0 0;
}
.pricing-section .allfather .consult-cont2 h4 a {
  color: black;
  font-size: 40px;
  text-transform: capitalize;
}
.pricing-section .allfather .consult-cont2 p {
  margin: 25px 0 0;
}
.pricing-section .allfather .consult-cont2 p a {
  color: black;
  font-size: 1rem;
  text-transform: none;
  opacity: 0.7;
  line-height: 20px;
}
.pricing-section .allfather .consult-cont2 .flex-plus {
  display: flex;
  margin: 20px 0 0;
}
.pricing-section .allfather .consult-cont2 .flex-plus h5 {
  margin-left: 15px;
}
.pricing-section .allfather .consult-cont2 .flex-plus h5 a {
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
}
.pricing-section .allfather .consult-cont2 .flex-minus {
  margin: 30px 0 0;
  display: flex;
}
.pricing-section .allfather .consult-cont2 .flex-minus h5 {
  margin-left: 15px;
}
.pricing-section .allfather .consult-cont2 .flex-minus .nopacity {
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
}
.pricing-section .allfather .consult-cont2 .flex-minus .opacity {
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
  opacity: 0.5;
}
.pricing-section .allfather .consult-cont2 button {
  width: 154px;
  height: 48px;
  color: white;
  background: #EF6D58;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 20px 0 0;
  margin-right: 25px;
  text-transform: uppercase;
}

.faq-section {
  max-width: 1280px;
  width: 100%;
  background-color: #FDF0E9;
  padding: 20px;
}
.faq-section .allfather {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
}
.faq-section .allfather .faq-box h2 {
  width: 320px;
  margin: 20px 0 0;
}
.faq-section .allfather .faq-box h2 a {
  color: black;
  font-size: 40px;
  text-transform: capitalize;
}
.faq-section .allfather .faq-box p {
  margin: 20px 0 0;
  max-width: 470px;
}
.faq-section .allfather .faq-box p a {
  color: black;
  font-size: 1rem;
  text-transform: none;
  opacity: 0.7;
  line-height: 1.2;
}
.faq-section .allfather .faq-box h5 {
  margin: 20px 0 0;
}
.faq-section .allfather .faq-box h5 a {
  color: black;
  font-size: 16;
  text-transform: capitalize;
}
.faq-section .allfather .toggle-parent .container-toggle {
  max-width: 370px;
  max-height: 245px;
  padding: 10px;
  border: solid #F3D1BF;
  border-radius: 5px;
}
.faq-section .allfather .toggle-parent .container-toggle > ul {
  list-style: none;
  padding: 0;
}
.faq-section .allfather .toggle-parent .dropdownn [data-toggle=dropdownn] {
  position: relative;
  display: block;
  color: white;
  padding: 10px;
}
.faq-section .allfather .toggle-parent .dropdownn [data-toggle=dropdownn] .black {
  color: black;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.faq-section .allfather .toggle-parent .dropdownn .icon-arrow {
  position: absolute;
  display: block;
  font-size: 0.7em;
  color: black;
  top: 14px;
  right: 10px;
}
.faq-section .allfather .toggle-parent .dropdownn .icon-arrow:before {
  content: "▼";
}
.faq-section .allfather .toggle-parent .dropdownn .dropdownn-menu {
  max-height: 0;
  overflow: hidden;
}
.faq-section .allfather .toggle-parent .dropdownn .dropdownn-menu p {
  color: rgb(220, 80, 5);
}
.faq-section .allfather .toggle-parent .dropdownn .show {
  display: block;
  max-height: 9999px;
}
.faq-section .allfather .toggle-parent .dropdownn .hide {
  max-height: 0;
}

.awards-section {
  max-width: 1280px;
  width: 100%;
  background-color: #FDF0E9;
  padding: 20px;
}
.awards-section .center-title {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.awards-section .allfather .awards-box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  border-top: solid #F3D1BF;
  border-bottom: solid #F3D1BF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.awards-section .allfather .awards-box1 .sofa-t {
  align-items: center;
  display: flex;
  max-width: 120px;
}
.awards-section .allfather .awards-box1 .sofa-t img {
  width: 100%;
  border-radius: 15px;
}
.awards-section .allfather .awards-box1 .sofa-t p {
  margin-left: 20px;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
}
.awards-section .allfather .awards-box1 .awards-date span {
  opacity: 0.7;
}
.awards-section .allfather .awards-box1 .awards-logo {
  align-items: center;
  display: flex;
  gap: 20px;
}

section {
  max-width: 1280px;
  width: 100%;
  background-color: #FDF0E9;
  padding: 20px;
}
section .blog-title h2 {
  color: black;
  font-size: 57px;
  text-transform: capitalize;
  max-width: 270px;
}
section .allfatherr {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0;
}
section .container- {
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section .container- .blog-img img {
  width: 100%;
}
section .container- h5 {
  color: black;
  font-size: 20px;
  text-transform: capitalize;
}
section .container- h4 {
  color: black;
  font-size: 24px;
  text-transform: capitalize;
  max-width: 335px;
}
section .container- p {
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
  opacity: 0.7;
}

.dropbtn {
  background-color: #FFFFFF;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 329px;
  text-transform: capitalize;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #FFFFFF;
}

.dropdown {
  position: relative;
  display: none;
  margin: 20px 0 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 329px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-transform: uppercase;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

@media (max-width: 700px) {
  .dropdown {
    display: block;
  }
  .portfolio-box2 {
    display: none !important;
  }
}
.part2 .containar, .portfolio-section .container, .portfolio-section .parent {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.home-cont .guide-cont p {
  opacity: 0.7;
  font-size: 16px;
  color: #FFF;
  line-height: 20px;
}

.home-cont .guide-cont h3, .part2 .gridd .grid-title h3, .part2 .readme-title .titles h3, .part2 .video-reel .video-title h3, .part2 .feautres .feautres-title h3, .part2 .feautres2 .feautres2-title h3, .part2 .service-box h3, .part2 .containar .service-title .service, .portfolio-section .portfolio-box .portfolio, .portfolio-section .container .inner .get-started h3 a, .portfolio-section .events h3, .home-section .events h3, .home-section .founder-main-parent .founder-words h3 a, .testimonials-section .center-title h3 a, .pricing-section .pricing-title h3 a, .pricing-section .allfather .consult-cont h3 a, .pricing-section .allfather .consult-cont2 h3 a, .faq-section .allfather .faq-box h3 a, section .blog-title h3 {
  font-size: 1rem;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.part2 .gridd .grid-title p, .part2 .readme-title .titles p, .part2 .readme-title .titles2 .numbers p, .part2 .video-reel .video-title p, .part2 .feautres .feautres-title p, .part2 .feautres2 .feautres2-boxes .feautres2-box1 p, .part2 .service-box p, .part2 .containar .agency-help .agency-box p {
  font-size: 20px;
  color: black;
  line-height: initial;
  max-width: 470px;
  margin-top: 20px;
  line-height: 1;
}

.part2 .experience .years, .part2 .experience .members, .part2 .experience .projects {
  padding: 50px;
  border: 1px solid #F3D1BF;
  cursor: pointer;
}

.part2 .gridd .grid-title h2, .part2 .readme-title .titles h2, .part2 .video-reel .video-title h2, .part2 .feautres .feautres-title h2 {
  font-size: 4rem;
  color: black;
  text-transform: capitalize;
  max-width: 407px;
  margin: 20px 0 0;
}

.part2 .feautres2 .feautres2-boxes .feautres2-box1 h2, .part2 .feautres2 .feautres2-boxes .feautres2-box2 h2, .part2 .containar .agency-help .agency-box h2, .portfolio-section .container .inner .get-started h2 {
  font-size: 24px;
  text-transform: capitalize;
  margin: 20px 0 0;
}

.part2 .gridd .grid-title h4, .part2 .readme-title .titles h4 {
  font-size: 20px;
  color: #391400;
  margin: 30px 0 0;
}

.part2 .feautres .feautres-title .checkmark li:before {
  content: " ";
  display: block;
  border: solid 0.8em #EF6C57;
  content: " ";
  display: block;
  border: solid 0.8em #EF6C57;
  border-radius: 0.8em;
  height: 0;
  width: 0;
  position: absolute;
  left: 0.5em;
  top: 40%;
  margin-top: -0.5em;
}

.part2 .feautres .feautres-title .checkmark li:after {
  content: " ";
  display: block;
  width: 0.3em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  position: absolute;
  left: 1em;
  top: 40%;
  margin-top: -0.2em;
  transform: rotate(45deg);
}

.part2 .containerr {
  margin: 30px 0 0;
  max-width: 1240px;
}

.portfolio-section .portfolio-box .portfolio-box2 a {
  font-size: 16px;
  opacity: 0.7;
  text-transform: capitalize;
  color: #FFF;
}

.portfolio-section .parenttt .div1 .ilustration-absolute, .portfolio-section .parenttt .div2 .ilustration-absolute, .portfolio-section .parenttt .div3 .ilustration-absolute, .portfolio-section .parenttt .div4 .ilustration-absolute {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media (max-width: 700px) {
  .blog-title {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .allfatherr {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .head-main-cont {
    justify-content: space-between !important;
  }
  .navbar {
    display: none;
  }
  .button {
    display: none;
  }
  .burger img {
    display: block !important;
  }
  .parenttt {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .toggle-parent {
    margin: 30px 0 0;
  }
  .feautres2 {
    flex-wrap: wrap;
  }
  .feautres2-title {
    margin-bottom: 20px;
  }
  .home-cont {
    flex-direction: column-reverse;
    align-items: center;
  }
  .containerr {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
@media screen and (max-width: 700px) {
  .guide-cont {
    max-width: 550px;
  }
}
@media screen and (max-width: 980px) {
  .grid-title h2 {
    font-size: 3rem !important;
  }
  .grid4 img {
    width: 85% !important;
    margin-left: 40px;
  }
}
@media screen and (max-width: 833px) {
  .grid-title h2 {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 700px) {
  .gridd {
    justify-content: center !important;
    flex-wrap: wrap;
    align-items: center !important;
  }
  .grid-title h2 {
    font-size: 4rem !important;
  }
  .experience {
    grid-auto-flow: inherit !important;
  }
  .feautres {
    justify-content: center !important;
    flex-wrap: wrap;
  }
  .feautres .feautres-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .video-reel {
    justify-content: center !important;
    flex-wrap: wrap;
  }
  .video-reel .video-title {
    margin-top: 40px;
  }
  .readme-title {
    justify-content: center !important;
    flex-wrap: wrap;
  }
  .agency-help {
    flex-wrap: wrap;
  }
}
@media (max-width: 1000px) {
  .service-box h2 {
    font-size: 3rem !important;
  }
}
@media (max-width: 935px) {
  .grid-content {
    height: 630px !important;
  }
}
@media (max-width: 830px) {
  .grid-content {
    height: 567px !important;
  }
  .founder-words h2 a {
    font-size: 32px !important;
  }
  .digit p {
    font-size: 60px !important;
  }
  .month h2 {
    font-size: 25px !important;
  }
}
@media (max-width: 700px) {
  .awards-box1 {
    flex-wrap: wrap;
    flex-direction: column !important;
    gap: 10px !important;
  }
  .awards-box1 .sofa-t {
    flex-direction: column !important;
    gap: 10px !important;
  }
  .awards-box1 .awards-logo {
    flex-direction: column !important;
    gap: 2px !important;
  }
  .founder-parent-cont {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .founder-parent-cont h2 a {
    font-size: 40px !important;
  }
  .founder-main-parent {
    flex-wrap: wrap;
  }
  .grid-content {
    height: 660px !important;
  }
  .parent {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .parent .date-cont {
    max-width: 370px !important;
  }
  .parent .digit p {
    font-size: 76px !important;
  }
  .parent .month h2 {
    font-size: 30px !important;
  }
}
@media (max-width: 550px) {
  .grid-content {
    height: 560px !important;
  }
  .portfolio-box h2 a {
    font-size: 2rem !important;
  }
  .container {
    height: 940px !important;
    flex-direction: column-reverse !important;
  }
  .container .women-absolute {
    position: static !important;
  }
  .container .inner {
    flex-direction: column !important;
  }
}
@media (max-width: 450px) {
  .grid-content {
    height: 460px !important;
  }
}
@media (max-width: 740px) {
  .date-cont {
    max-width: 226px !important;
  }
}
@media (max-width: 730px) {
  .allfather {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
@keyframes animation {
  0% {
    top: 2px;
  }
  10% {
    top: 10px;
  }
}
.img-relative:hover .comp-absl img {
  transform: scale(1.1);
  cursor: pointer;
}

.cloud img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.circle-relt img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.brand-cont a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.navbar a:hover {
  transform: scale(1.1);
}

.girl-abslt img:hover {
  transform: scale(1.1);
}

.titles h2:hover {
  opacity: 0.7;
}
.titles p:hover {
  color: red !important;
}

.grid-title p:hover {
  color: red !important;
}

.hamburger:hover .hamburger__inner {
  transform: translate(-51px, 50%) !important;
  opacity: 0 !important;
}
.hamburger:hover .hamburger__inner::before, .hamburger:hover .hamburger__inner::after {
  transform: translate(102px, 0) !important;
  opacity: 0 !important;
}
.hamburger:hover .hamburger__hidden {
  opacity: 1 !important;
  transform: translate(0, -50%) !important;
}
.hamburger:hover .hamburger__hidden::before, .hamburger:hover .hamburger__hidden::after {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

.star-rating-parent h3 a:hover {
  color: #dc5005 !important;
  font-weight: bold;
}